* {
    font-family: 'Roboto', sans-serif;
}

#main {
    background-color: aqua;
}

h3 {
    color: rgb(162,98,68);
    padding: 0px 0px 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
}

#main {
    background-color: aqua;
}


#row-header {
    background-image: linear-gradient(to bottom right, black, grey);
}

#row-footer {
    background-image: linear-gradient(to bottom right, grey, black);
}

#menu-bg {
    background-image: url(../images/carousel2.jpg);

}

.section {
    background-color: #50445f !important;
}

.section-menu {
    background-image: url(../images/albufera.jpg);
    background-size:cover;
}
.section-menu2 {
    background-color: white;
}

#main-content {
    background-color: #50445f;
}

.section2 {
    background-color: rgb(242,227,220);
}

.section-content2 {
    background-color: rgb(242,227,220);
}

.line {
    height: 1vh;
    background-color: white;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 5px;
}

.carousel {
    margin: 5vh 10vw 5vh 10vw;
}

.button-pdf {
    background-color: #50445f;
    border-color: #50445f;

}

.button-pdf:hover {
    background-color: rgb(162,98,68);
}



p {
    margin-right: 10vw;
    margin-left: 10vw;
}

